promptflow 
promptflow-tools
promptflow-vectordb
azure-ai-ml
azure-ai-contentsafety
pandas
numpy
matplotlib
plotly
python-dotenv
ipykernel
keyrings.alt
nbformat
plotly
bs4
tqdm
ipywidgets
datasets
langchain-openai
cookiecutter